<!DOCTYPE html>
<html>
  <head>
    <title>&gt;Title</title>
  </head>

  <body>
    <div id="lifer" class="demo">
      <p>{{ message }}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main-view-model.js"></script>
  </body>
</html>
